.heading {
  font-family: "Segoe UI";
  text-shadow: -3px 0px yellow;
  font-family: "Sriracha", cursive;
}

.paragraph {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.img_div {
  display: flex;
  justify-content: center;
}
